IF DB_ID('Hospital_Management_System') IS NULL
BEGIN
    CREATE DATABASE Hospital_Management_System;
END
GO

USE Hospital_Management_System;
GO

IF OBJECT_ID('dbo.Patients', 'U') IS NULL
BEGIN

    CREATE TABLE dbo.Patients
    (
        Id INT IDENTITY(1,1) NOT NULL,

        FirstName NVARCHAR(20) NOT NULL,

        LastName NVARCHAR(20) NOT NULL,

        FileNumber BIGINT NOT NULL,

        Phone NVARCHAR(20) NOT NULL,

        DateOfBirth DATE NULL,

        Gender NVARCHAR(10) NULL,

        CONSTRAINT PK_Patients
            PRIMARY KEY CLUSTERED (Id),

        CONSTRAINT UQ_Patients_FileNumber
            UNIQUE (FileNumber)
    );

END
GO